REACT_APP_OAUTH2_REDIRECT_URI=http://localhost:3000/oauth/callback
# dev dev
#REACT_APP_OAUTH2_CLIENT_ID=<>

# local dev
REACT_APP_OAUTH2_CLIENT_ID=<>
#This is the dev version of the federated graph
REACT_APP_ADMIN_API_ENDPOINT=https://admin-api.getpocket.dev
#REACT_APP_ADMIN_API_ENDPOINT=https://admin-api.getpocket.com

# local apollo gateway in monorepo
#REACT_APP_ADMIN_API_ENDPOINT=http://localhost:4050
# direct to collection API
#REACT_APP_ADMIN_API_ENDPOINT=http://localhost:4004/admin

# local admin-api
#REACT_APP_ADMIN_API_ENDPOINT=http://localhost:4027

#A And this is the local version if you need to debug something
# or swap out one of the subgraphs for a locally spun up version.
# REACT_APP_ADMIN_API_ENDPOINT=http://localhost:4027

REACT_APP_LOCAL_DEV=true
